html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    transform: translateY(22vmin);
}

.intro > h1 {
    font-size: 11vmin;
}

.intro > h2 {
    font-size: 3vmin;
}

/* Page content */

.content {
    line-height: 2em;
    padding-top: 20px;
}

.content p {
    text-align: justify;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

.copy-code-button {
    color: #272822;
    background-color: #fff;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;
  
    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;
  
    margin-bottom: -2px;
  
    padding: 3px 8px;
    font-size: 0.8em;
  }
  
  .copy-code-button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }
  
  .copy-code-button:focus {
    /* avoid an ugly focus outline on click in Chrome, but darken the button
       for accessibility. https://stackoverflow.com/a/25298082/1481479 */
    background-color: #e6e6e6;
    outline: 0;
  }
  
  .copy-code-button:active {
    background-color: #d9d9d9;
  }
  
  .highlight pre {
    /* Avoid pushing up the copy buttons */
    margin-top: 0;
    border-radius: 3px;
    padding: 10px;
    overflow-x: auto;
    font-size: 0.9em;
  }
  
  .highlight pre code {
    /* Otherwise, overflow text hits the edge of the block */
    margin-right: 8px;
    display: inline-block;
  }
  
  /* Lines that are highlighted */
  .highlight pre code > span[style*="display:block;"] {
    margin-left: -10px;
    padding-left: 5px;
    border-left: 5px solid #ee7f2d;
  }
